# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# Environment files
.env
.env.*
!.env.example

# Django
*.log
logs/
media/
staticfiles/
db.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Linting & formatting
.ruff_cache/
.mypy_cache/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Misc
*.DS_Store
*.swp
*.bak
stop
README.md
