# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env*

# SQLite
db.sqlite3

backup.sql

# Logs
logs/

# Static & Media
media/
staticfiles/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Test & Coverage
.coverage
.pytest_cache/

# Linter Cache
.ruff_cache/

# Temp Files
stop